<div class='GurpsRulesLookupResults'>
    {{#if results.length}}
        {{#each results}}
            <div class='GurpsRulesLookupResult'>
                <div class='GurpsRulesLookupRule'><strong>{{this.Rule}}</strong></div> 
                <div class='GurpsRulesLookupBook'>{{this.Book}} p.{{this.Page}}</div>
                <div class='GurpsRulesLookupLink' data-action="pdf" data-pdf="{{this.Link}}">{{{pdflink this.Link}}}</div>
            </div>
        {{/each}}
    {{else}}
        <p class='GurpsRulesLookupNoResults'>{{message}}</p>
    {{/if}}
</div>